*{
    margin: 0px;
    padding: 0px;
}
img{
    border-radius: 50%;
}

.name_Col{
    display: flex;
    align-items: center;
}
.inner{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;
}

.middle{
    border: 5px solid lightgreen;
    /* border: 5px solid ; */
    /* border-image: linear-gradient(to right, green, lightgreen);
    border-image-slice: 2; */
    border-radius: 50%;
    padding: 2px;
}
.outer{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;
    padding: 2px;
}
.coins{
   display: inline-block;
   vertical-align: middle;
   padding: 3px 0px;
   font-size: 12px;
   font-weight: 500;
}
.img{
    display: flex;
    justify-content: center;  
}
.main{
    padding: 10px 5px;
    border-bottom: 1px dotted lightgray;
    position: relative;
}
.card_info{
    display: flex;
    justify-content: center;
}
.achi{
    font-size: 14px;
}
.details{
    display: none;
}

.full_box{
    border: 1px solid rgb(247, 247, 247);
    box-shadow: 1px 1px 2px 2px lightgray;
}
.detail_card{
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute; 
}
.main:hover + .detail_card{
    opacity: 1;
    visibility: visible;
    display: contents;
    position: absolute;
    left: 20%;
}


